.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    
    padding: 30px;
    background-color: gray;
    border: 2px solid #007BFF;
}

h1{
    color: white;
}


@media only screen and (max-width:600px){
    .container{
        min-width: 80%;
    }
}
@media only screen and (min-width:600px){}
@media only screen and (min-width:768px){
    .container{
        min-width: 60%;
    }
}

@media only screen and (min-width:900px){
    .container{
        min-width: 30%;
    }
}
