<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item" data-aos="zoom-in-right" data-aos-duration="3000">
    <a class="nav-link" routerLink="test">International Journals</a>
  </li>

  <li class="nav-item" data-aos="zoom-in-down" data-aos-duration="3000">
    <a class="nav-link" routerLink="natConfDisplay"
      >National Conference Papers</a
    >
  </li>

  <li class="nav-item" data-aos="zoom-in-left" data-aos-duration="3000">
    <a class="nav-link" routerLink="interNatConfDisplay"
      >International Conference Papers</a
    >
  </li>
</ul>

<router-outlet></router-outlet>
